body {
	text-align: center;
}


/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
}
 

/* Landscape phones and down */
@media (max-width: 480px) { 

	body{
		font-style: italic;
		
	}
	.panel{
		
		overflow: hidden;

	}

	.display{
		margin-bottom: 1px;
	}

	#canvas-panel{

	}

	.btn{
		width:100%;
		height: 60px;
	}

	.panel-body{
		padding: 3px;
		max-height: 290px;
		overflow: scroll;
	}

	#dice-button{
		
	}
	#bCanvas{
		background: url('../images/monoBoard.jpg');
		background-size: 700px 700px;
	    background-repeat: no-repeat;
	    height: 700px;
	    width: 700px;
	    border-radius: 4px;
	    border: 2px ridge black;
	}


}